
</main>

<footer>
<hr>

<div class="container footer">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- <div class=" row footerLinksBox"> -->
        <!-- <ul class="footerLinksList"> -->
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://github.com/unof1harshit/Video-chat-app">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="icon fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>


        <p class="copyright text-muted copyrightInfo">© Harshit </p>

        <p class="text-muted credits">
          <span>Photo by <a href="https://unsplash.com/@woods?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Joe Woods</a> on <a
              href="https://unsplash.com/s/photos/wall?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>

    </div>

  </div>

</div>

</footer>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<script type="text/javascript">
  // Updating footer date
  const footerDate = new Date().getFullYear();
  $(".copyrightInfo").append(footerDate);
</script>

</html>
